<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photorama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>219E6E9F1F463C9A00A9CF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219E6EB31F463C9A00A9CF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219E6EBE1F463C9A00A9CF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
